* {
    box-sizing: border-box;
  }

.login-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #f5f6f8;
    padding-top: 50px;
    overflow: hidden;
  }

  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }