:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

html{
  width: 100%;
  height: 100%;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body{
  background: #F5F6FA;
  margin: 0;
  color: #000;
}

.left-side{
  width: 25%;
}

.left-side:only-child{
  width: 100%;
}

.right-side{
  width: 75%;
}

.fc-event-resizer{
  pointer-events: none;
}

.fc-toolbar-title{
  text-transform: capitalize;
}

.fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus{
  box-shadow: none;
}

.fc .fc-daygrid-day-top{
  justify-content: center;
}

.fc thead > tr {
  background-color:#F8F9FF; 
}

.fc thead > tr th{
  border-top: none;
}

.fc-direction-ltr{
  max-height: calc(100vh - 150px);
}

.fc .fc-toolbar.fc-header-toolbar{
  padding-block: 10px;
}

.fc .fc-button .fc-icon{
  font-size: 3rem;
}

.fc-v-event .fc-event-title{
  text-align: center;
}

.fc-timegrid-event .fc-event-time{
  text-align: center;
}

.fc-event-main p{
  margin-block: 3px;
  text-align: center;
}

.fc-event-main div{
  text-align: center;
}

.fc-event-main {
  position: relative;
}

.fc-event-main .status{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  background-color: #F3F3F3;
  margin:0;
}

.overlay{
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
}

.fc .fc-v-event{
  background-color: transparent !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  margin: 3px 0;
}

.fc-timegrid-event .fc-event-main{
  border-radius: 5px;
  overflow: hidden;
}

.fc-event-main > div:hover{
  cursor: pointer;
}

.fc-timegrid-event .fc-event-main:has(.status.aceptat){
  background-color: #798CFF;
}

.fc-timegrid-event .fc-event-main:has(.status.in_asteptare){
  background-color: #FFB29E;
}

.fc-timegrid-event .fc-event-main:has(.status.refuzat){
  background-color: #FF481B;
}

.fc-event-main .status{
  color: #FF633D;
}

.fc-event-main .status.aceptat{
  color: #00C864;
}

.fc-event-main div{
  max-height: calc(100% - 20px);
  scrollbar-width: thin;
  overflow: auto;
}


.login-header{
  background-color: #fff;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e3e3e3;
}

