nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color:#000;;
    align-items: center;;
    padding: 15px;
}

nav.login-page{
    background:#000;
    color: #fff;
}

.nav-items ul{
    list-style: none;
}

.nav-items ul{
    display: flex;
    gap: 50px;
}

.logo-wrapper{
    height: 85px;
}

.header-logo{
    display: flex;
    justify-content: center;
}

.right-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
}